<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.SysDicMapper">
    <select id="findSysDicAll" resultType="sysDicPo" parameterType="String">
        SELECT 
        	id, dic_name as dicName, dic_code as dicCode, dic_type as dicType,
        	create_time as createTime, update_time as updateTime
        FROM sys_dic WHERE 1=1
        <if test="_parameter != null">
        	and (dic_name like CONCAT('%',#{searchValue},'%')
        	or UPPER(dic_code) like UPPER(CONCAT('%',#{searchValue},'%'))
        	or dic_type like CONCAT('%',#{searchValue},'%'))
        </if>
    </select>
    <select id="findSysDicToType" resultType="sysDicPo">
        SELECT 
        	id, dic_name as dicName, dic_code as dicCode, dic_type as dicType,
        	create_time as createTime, update_time as updateTime
        FROM sys_dic
    </select>
    <insert id="saveSysDic">
    	INSERT INTO sys_dic
    		(id, dic_name, dic_code, dic_type, create_time) 
    	VALUES
    		(#{id}, #{dicName}, #{dicCode}, #{dicType}, #{createTime});
    </insert>
    <delete id="deleteSysDic" parameterType="String">
    	DELETE FROM sys_dic WHERE id = #{id};
    </delete>
    <update id="updateSysDicToDicType">
    	UPDATE sys_dic SET 
    		dic_type = #{dicType}, update_time = #{updateTime}
    	WHERE id = #{id};
    </update>
    <update id="updateSysDicToDicCode">
    	UPDATE sys_dic SET
    		dic_name = #{dicName}, dic_code = #{dicCode}, update_time = #{updateTime}
    	WHERE id = #{id};
    </update>
</mapper>