<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.SysLogMapper">
    <select id="findSysLogAll" resultType="sysLogPo" parameterType="String">
        SELECT 
        	id, ip, operate_user as operateUser, operate_module as operateModule,
        	log_content as logContent, create_time as createTime, update_time as updateTime
        FROM sys_log
		<if test="_parameter != null">
        	and ( ip like CONCAT('%',#{searchValue},'%')
        	or operate_module like CONCAT('%',#{searchValue},'%') )
        </if>
    </select>
    <insert id="saveSysLog">
    	INSERT INTO sys_log
    		(id, ip, operate_user, operate_module, log_content, create_time) 
    	VALUES
    		(#{id}, #{ip}, #{operateUser}, #{operateModule}, #{logContent}, #{createTime});
    </insert>
</mapper>