<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.SysPermissionMapper">
    <select id="findSysPermissionByUserId" resultType="sysPermissionPo" parameterType="String">
		select p.id, p.url, p.name 
		FROM sys_user_role ur
			LEFT JOIN sys_user u on ur.uid = u.id
			LEFT JOIN sys_role r on r.id = ur.rid
			LEFT JOIN sys_role_permission rp on rp.rid = r.id
			LEFT JOIN sys_permission p on p.id = rp.pid
		WHERE u.id = #{userId}
    </select>
</mapper>