<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.SysRoleMapper">
    <select id="findSysRoleByUserId" resultType="sysRolePo" parameterType="String">
		select r.id as id, r.name as name, r.type as type
		FROM sys_user_role ur
			LEFT JOIN sys_user u on ur.uid = u.id
			LEFT JOIN sys_role r on r.id = ur.rid
		WHERE 1=1
		<if test="_parameter != null">
        	and u.id = #{userId}
        </if>
    </select>
</mapper>